<!-- Container #1 (see wireframe) -->
<md-toolbar layout="row" class="md-toolbar-tools" ng-if="$ctrl.isLoggedIn()">
  <md-button class="menu md-icon-button" hide-gt-sm ng-click="app.toggleWorkspacesList()"
             aria-label="Show Workspaces List">
    <md-icon md-svg-icon="menu"></md-icon>
  </md-button>
  <h1>ngmaterial-seed</h1>

  <md-menu md-position-mode="target-right bottom">
    <md-button aria-label="Account" class="md-icon-button" ng-click="$mdMenu.open($event)">
      <md-icon md-svg-icon="settings" aria-label="Account"></md-icon>
    </md-button>
    <md-menu-content width="4">
      <md-menu-item>
        <md-button ng-click="$ctrl.logout()">
          <div layout="row" flex>
            <p flex>Logout</p>
            <md-icon md-menu-align-target md-svg-icon="directions_run" style="margin: auto 3px auto 0;"></md-icon>
          </div>
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</md-toolbar>

<!-- Container #2 -->
<div flex layout="row" ng-if="$ctrl.isLoggedIn()">
  <!-- Container #3 -->
  <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')"
    md-component-id="left" ng-click="$ctrl.toggleWorkspacesList()">
    <!-- Custom UsersList component -->
    <workspaces-list
      workspaces="$ctrl.workspaces"
      active-workspace="$ctrl.activeWorkspace"
      on-selected="$ctrl.selectWorkspace(workspace)">
    </workspaces-list>
  </md-sidenav>

  <md-content flex layout-padding>
    <ui-view></ui-view>
  </md-content>
</div>

<md-content flex layout="row" layout-align="space-around" layout-padding="layout-padding" ng-cloak="ng-cloak" ng-if="$ctrl.isLoggedIn() == false">
  <ui-view></ui-view>
</md-content>